<div class="container">
    <h2>Clientes dentro del area de un servicio:</h2>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Localidad: </label>
        <button (click)="localidad = 'Avellaneda'" [class]="localidad == 'Avellaneda' ? 'btn margin active' : 'btn margin'">Avellaneda</button>
        <button (click)="localidad = 'CABA'" [class]="localidad == 'CABA' ? 'btn margin active' : 'btn margin'">CABA</button>
    </div>
    <br>
    <br>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Servicio: </label>
        <button (click)="area = 'Servicio Tecnico'" [class]="area == 'Servicio Tecnico' ? 'btn margin active' : 'btn margin'">Servicio Técnico</button>
        <button (click)="area = 'Atencion al Cliente'" [class]="area == 'Atencion al Cliente' ? 'btn margin active' : 'btn margin'">Atención al Cliente</button>
        <!-- <button (click)="area = 'Servicios Financieros'" [class]="area == 'Servicios Financieros' ? 'btn margin active' : 'btn margin'">Servicios Financieros</button> -->
    </div>
    <br>
    <br>
    <button (click)="buscar()" class="btn" style="width: 50%;position: relative;">Buscar</button>
    <br>
    <br>
    <div *ngIf="lista" class="card">
        <table style="width: 100%;">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td>{{item.dni}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
            </tr>
        </table>
    </div>
</div>