<div style="max-width: 1000px;" class="center">
    <h1>Datos de Clientes</h1>
    <div class="container">
        <h2>Clientes con mas tickets</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>ID Cliente</th>
                    <th>Apellido y Nombre</th>
                    <th>Tickets Generados</th>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Apellido Nombre</td>
                    <td>340</td>
                </tr>
                <tr>
                    <td>4321</td>
                    <td>OtroApellido otroNombre</td>
                    <td>289</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <span>
            <h2>Clientes con tickets pendientes</h2>
        </span>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>ID Cliente</th>
                    <th>Apellido y Nombre</th>
                    <!-- <th>Acciones</th> -->
                </tr>
                <tr>
                    <td>375682</td>
                    <td>Apellido Nombre</td>
                    <!-- <td><button class="btn">Ver pendientes</button></td> -->
                </tr>
                <tr>
                    <td>543456</td>
                    <td>OtroApellido otroNombre</td>
                    <!-- <td><button class="btn">Ver pendientes</button></td> -->
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <span>
            <h2>Tickets de clientes que son empleados</h2>
        </span>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>ID Cliente</th>
                    <th>ID Empleado</th>
                    <th>Apellido y Nombre</th>
                    <!-- <th>Acciones</th> -->
                </tr>
                <tr>
                    <td>375682</td>
                    <td>453453</td>
                    <td>Apellido Nombre</td>
                    <!-- <td><button class="btn">Ver tickets</button></td> -->
                </tr>
                <tr>
                    <td>543456</td>
                    <td>898474</td>
                    <td>OtroApellido otroNombre</td>
                    <!-- <td><button class="btn">Ver tickets</button></td> -->
                </tr>
            </table>
        </div>
    </div>
</div>