<div class="container">
    <h2>Cantidad de empleados que no sean de un area: {{cantidad}}</h2>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Servicio: </label>
        <button (click)="area = 'Servicio Tecnico'" [class]="area == 'Servicio Tecnico' ? 'btn margin active' : 'btn margin'">Servicio Técnico</button>
        <button (click)="area = 'Atencion al Cliente'" [class]="area == 'Atencion al Cliente' ? 'btn margin active' : 'btn margin'">Atención al Cliente</button>
        <button (click)="area = 'Servicios Financieros'" [class]="area == 'Servicios Financieros' ? 'btn margin active' : 'btn margin'">Servicios Financieros</button>
    </div>
    <br>
    <br>
    <button (click)="buscar()" class="btn" style="width: 50%;position: relative;">Buscar</button>
</div>