<div style="max-width: 1000px;" class="center">
    <h1>Datos Zonales</h1>
    <app-buscar-clientes-cercanos></app-buscar-clientes-cercanos>
    <br>
    <br>
    <app-buscar-tickets-cercanos></app-buscar-tickets-cercanos>
    <br>
    <br>
    <app-empleados-de-una-localidad></app-empleados-de-una-localidad>
    <br>
    <br>
    <app-cantidad-no-sean-de-una-localidad></app-cantidad-no-sean-de-una-localidad>
    <br>
    <br>
    <app-clientes-de-una-localidad-con-canal></app-clientes-de-una-localidad-con-canal>
    <br>
    <br>
    <app-servicio-mas-cercano-para-ticket></app-servicio-mas-cercano-para-ticket>
    <br>
    <br>
    <app-clientes-de-una-localidad-con-plan></app-clientes-de-una-localidad-con-plan>
    <br>
    <br>
    <app-dentro-area-servicio-de-localidad></app-dentro-area-servicio-de-localidad>
    <br>
    <br>
    <app-empleados-de-un-area></app-empleados-de-un-area>
    <br>
    <br>
    <app-cantidad-no-sean-de-un-area></app-cantidad-no-sean-de-un-area>

    <!-- <div class="container">
        <h2>Desperfecto por zona</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Zona</th>
                    <th>Cantidad</th>
                </tr>
                <tr>
                    <td>Avellaneda</td>
                    <td>26</td>

                </tr>
                <tr>
                    <td>Quilmes</td>
                    <td>13</td>>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <h2>Atención hecha por zona</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Codigo de Ticket</th>
                    <th>Razon</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>375682</td>
                    <td>Desperfecto</td>
                    <td>2021-05-13T07:06:18</td>
                </tr>
                <tr>
                    <td>543456</td>
                    <td>Desperfecto</td>
                    <td>2021-05-04T06:03:26</td>
                </tr>
            </table>
        </div>
    </div> -->
</div>