<div style="max-width: 1000px;" class="center">
    <h1>Datos Zonales</h1>
    <div class="container">
        <h2>Desperfecto por zona</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Zona</th>
                    <th>Cantidad</th>
                    <!-- <th>Acciones</th> -->
                </tr>
                <tr>
                    <td>Avellaneda</td>
                    <td>26</td>
                    <!-- <td><button class="btn">Ver Desperfectos</button></td> -->
                </tr>
                <tr>
                    <td>Quilmes</td>
                    <td>13</td>
                    <!-- <td><button class="btn">Ver Desperfectos</button></td> -->
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <h2>Atención hecha por zona</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Codigo de Ticket</th>
                    <th>Razon</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>375682</td>
                    <td>Desperfecto</td>
                    <td>2021-05-13T07:06:18</td>
                </tr>
                <tr>
                    <td>543456</td>
                    <td>Desperfecto</td>
                    <td>2021-05-04T06:03:26</td>
                </tr>
            </table>
        </div>
    </div>
</div>