<div class="container">
    <h2>Clientes de una localidad con canal especifico:</h2>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Localidad: </label>
        <button (click)="localidad = 'Avellaneda'" [class]="localidad == 'Avellaneda' ? 'btn margin active' : 'btn margin'">Avellaneda</button>
        <button (click)="localidad = 'CABA'" [class]="localidad == 'CABA' ? 'btn margin active' : 'btn margin'">CABA</button>
    </div>
    <br>
    <br>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Canal: </label>
        <button (click)="canal = 'Noticias1'" [class]="canal == 'Noticias1' ? 'btn margin active' : 'btn margin'">Noticias1</button>
        <button (click)="canal = 'Noticias2'" [class]="canal == 'Noticias2' ? 'btn margin active' : 'btn margin'">Noticias2</button>
        <button (click)="canal = 'Noticias3'" [class]="canal == 'Noticias3' ? 'btn margin active' : 'btn margin'">Noticias3</button>
    </div>
    <br>
    <br>
    <button (click)="clientesDeUnaLocalidadConCanal()" class="btn" style="width: 50%;position: relative;">Buscar</button>
    <br>
    <br>
    <div *ngIf="lista" class="card">
        <table style="width: 100%;">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td>{{item.dni}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
            </tr>
        </table>
    </div>
</div>