<div style="max-width: 1000px;" class="center">
    <h1>Lista de Incidentes/Desperfectos</h1>
    
    <div class="container">
        <h2>[Nombre de desperfecto]</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Lugares</th>
                    <th>Cada cuanto</th>
                </tr>
                <tr>
                    <td>Avellaneda</td>
                    <td>23/Año</td>
                </tr>
                <tr>
                    <td>Quilmes</td>
                    <td>7/Año</td>
                </tr>
            </table>
        </div>
    </div>
</div>
