<div style="max-width: 1000px;" class="center">
    <h1>Control de Atención</h1>
    
    <div class="container">
        <h2>Empleados con mas atenciones</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>ID Empleado</th>
                    <th>Apellido y Nombre</th>
                    <th>Cantidad de tickets atendidos</th>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Apellido Nombre</td>
                    <td>340</td>
                </tr>
                <tr>
                    <td>4321</td>
                    <td>OtroApellido otroNombre</td>
                    <td>289</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <h2>Trabajos pendientes</h2>
        <div class="card">
            <table style="width: 100%;">
                <tr>
                    <th>Codigo de Ticket</th>
                    <th>Razon</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>375682</td>
                    <td>Desperfecto</td>
                    <td>2021-05-13T07:06:18</td>
                </tr>
                <tr>
                    <td>543456</td>
                    <td>Desperfecto</td>
                    <td>2021-05-04T06:03:26</td>
                </tr>
            </table>
        </div>
    </div>
</div>

