<div class="container">
    <h2>Empleado con cantidad de tickets mayor a:</h2>
    <div style="display: inline;">
        <label class="lbl-titulo-lista">Cantidad: </label>
        <button (click)="cantidad = 5" [class]="cantidad == 5 ? 'btn margin active' : 'btn margin'">5</button>
        <button (click)="cantidad = 10" [class]="cantidad == 10 ? 'btn margin active' : 'btn margin'">10</button>
        <button (click)="cantidad = 20" [class]="cantidad == 20 ? 'btn margin active' : 'btn margin'">20</button>
    </div>
    <br>
    <br>
    <button (click)="buscar()" class="btn" style="width: 50%;position: relative;">Buscar</button>
    <br>
    <br>
    <div *ngIf="lista" class="card">
        <table style="width: 100%;">

            <!-- _id: "$cliente.dni",
            nombre: { "$first": "$cliente.nombre" },
            apellido: { "$first": "$cliente.apellido" },
            cantidadTickets: { $sum: 1 }, -->
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cantidad Tickets</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.ticekts_atendidos}}</td>
            </tr>
        </table>
    </div>
</div>