/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;wght@300;500;700&display=swap');

.lbl-titulo-lista{
    font-weight: 600;
    font-size: 18px;
}

.btn{
    background-color: #0d56b6;
    color: white;
    border-radius: 10px;
    outline: none !important;
    border: none;
    padding: 10px;
    font-size: 21px;
    font-weight: 200;
    transition: all 0.5s;
}

.margin{
    margin-left: 10px;
}

.btn:hover{
    background-color: #093f86;
    color: white;
    border-radius: 10px;
    outline: none !important;
    border: none;
    padding: 10px;
    font-size: 21px;
    transition-duration: all 0.5s;
}

.btn:active{
    transition: all 0.2s;
    box-shadow: 0px 5px 10px #646464;
}

.active{
    transition: all 0.5s;
    box-shadow: 0px 0px 10px #0084ff;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    border-radius: 10px;
    background-color: #ececec;
    padding: 20px;
    display: block;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: center;
}

select{
    background-color: #ececec;
    border-radius: 10px;
    outline: none !important;
    border: none;
    padding: 5px;
    font-size: 16px;
}


