<div class="container">
    <h2>Clientes que son empleados y emitieron tickets:</h2>
    <button (click)="buscar()" class="btn" style="width: 50%;position: relative;">Buscar</button>
    <br>
    <br>
    <div *ngIf="lista" class="card">
        <table style="width: 100%;">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cantidad Tickets</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td>{{item._id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.cantidadTickets}}</td>
            </tr>
        </table>
    </div>
</div>